﻿<%@ Page
    Title=""
    Language="C#"
    MasterPageFile="~/Main.Master"
    AutoEventWireup="true"
    CodeBehind="DealSeller.aspx.cs"
    Inherits="WebApplicationProWizard.WebForms.Deal.WebFormDealSeller"
    MaintainScrollPositionOnPostback="true" %>

<asp:Content ID="Content1" ContentPlaceHolderID="DealSeller" runat="server">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <div style="position: absolute; height: 800px; width: 100%; top: 72px; background-color: #FFFFFF; z-index: 0;">
    </div>
    <div style="position: relative; margin: 0 auto; width: 1000px; background-color: #FFFFFF;">
        <div style="position: absolute; top: 80px; width: 100%; height: 400px;">
            <div style="position: relative; top: 20px;">
                <asp:Label ID="LabelStageClose"
                runat="server"
                Text="Этап завершен"
                ForeColor="#525252"
                CssClass="Header0" Visible="False"></asp:Label>
                <br />
                <br />
                <div style="position: absolute; width: 900px;">
                    <asp:Panel ID="PanelAbout" runat="server" CssClass="Header1">
                        Описание
                        Если у вас ипотека или доля
                    </asp:Panel>
                </div>
            </div>
        </div>       
    </div>
</asp:Content>
