﻿<%@ Master
    Language="C#"
    AutoEventWireup="true"
    CodeBehind="Main.Master.cs"
    Inherits="WebApplicationProWizard.WebFormMain" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" style="width: 100%; left: 0px; position: absolute; height: 100%; top: 0px; background-color: #FBFBFB;">
        <div style="position: relative; width: 100%; height: 70px; top: 0px; background-color: #FFFFFF;">
            <div style="position: absolute; width: 100%; height: 78px; top: 0px; background-color: #FFFFFF; z-index: 99999;">
                <div style="position: relative; width: 1000px; margin: 0 auto; height: 90px;">
                    <div style="position: absolute; top: 5px; width: 100%; text-align: center;">
                        <asp:Label ID="LabelHomga"
                            runat="server"
                            CssClass="Header0"
                            Style="color: #0070C0; font-weight: 700;"
                            Text="Homga"
                            Font-Size="48px"></asp:Label>
                    </div>
                    <div style="position: absolute; top: 10px; right: 0px; top: 15px;">
                        <asp:Label ID="LabelEmail"
                            runat="server"
                            Text="EMail"
                            ValidateRequestMode="Disabled"
                            Visible="False"
                            ViewStateMode="Disabled"
                            CssClass="Email"></asp:Label>
                        &nbsp;<br />
                        <asp:LinkButton ID="LinkButtonSignOut"
                            runat="server"
                            OnClick="LinkButtonSignOut_Click"
                            ValidateRequestMode="Disabled"
                            Visible="False"
                            ViewStateMode="Disabled"
                            Font-Underline="false"
                            CssClass="ButtonUser">Выйти</asp:LinkButton>
                    </div>
                    <asp:Panel
                        runat="server"
                        Style="position: absolute; left: 0px; top: 20px; background-color: #FFFFFF;"
                        ID="PanelMenuOpen"
                        OnClick="ImageOpenMenu_Click"
                        Visible="true" ViewStateMode="Enabled">
                        <asp:ImageButton
                            runat="server"
                            ImageUrl="~/Content/OpenM.png"
                            OnClick="ImageOpenMenu_Click"
                            ID="ImageOpenMenu"
                            Width="100%"
                            Height="100%" />
                    </asp:Panel>
                    <asp:Panel
                        runat="server"
                        Style="position: absolute; left: 0px; top: 20px; background-color: #FFFFFF;"
                        ID="PanelMenuClose"
                        Visible="false" ViewStateMode="Enabled">
                        <asp:ImageButton
                            runat="server"
                            ImageUrl="~/Content/CloseM.png"
                            OnClick="ImageCloseMenu_Click"
                            ID="ImageCloseMenu"
                            Width="100%"
                            Height="100%" />
                    </asp:Panel>
                </div>
            </div>
            <div style="position: absolute; width: 100%; top: 78px; height: 2px; background-color: #E8ECF0; left: 0px; z-index: 99998;">
            </div>
        </div>
        <div style="position: relative; height: 20px; top: 10px; margin: 0 auto; width: 1000px; z-index: 2;">
            <div style="float: right; width: 40px;">
                <asp:ImageButton ID="ImageButtonClose"
                    runat="server" ImageUrl="~/Content/Close.png"
                    OnClick="LinkButtonToHome_Click"
                    Height="30px" />
            </div>
        </div>
        <div style="position: absolute; width: 100%; height: 20px; z-index: 1; top: 100px;">
            <div style="position: relative; margin: 0 auto; width: 1000px; height: 20px;">
                <asp:LinkButton ID="LinkButtonWizardFindObject"
                    runat="server"
                    OnClick="LinkButtonWizardFindObjectBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Подбор</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardCallSeller"
                    runat="server"
                    OnClick="LinkButtonWizardCallSellerBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Подключение продавца</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardPreliminaryContractBuyer"
                    runat="server"
                    OnClick="LinkButtonWizardPreliminaryContractBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Предварительный договор</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardPreliminaryContractSeller"
                    runat="server"
                    OnClick="LinkButtonWizardPreliminaryContractSeller_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Предварительный договор</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardMainDocumentBuyer"
                    runat="server"
                    OnClick="LinkButtonWizardMainDocumentBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Проверка документов</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardMainDocumentSeller"
                    runat="server"
                    OnClick="LinkButtonWizardMainDocumentSeller_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Проверка документов</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardPreparationDealBuyer"
                    runat="server"
                    OnClick="LinkButtonWizardPreparationDealBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Подготовка к сделке</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardPreparationDealSeller"
                    runat="server"
                    OnClick="LinkButtonWizardPreparationDealSeller_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Подготовка к сделке</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardDealBuyer"
                    runat="server"
                    OnClick="LinkButtonWizardDealBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Сделка</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardDealSeller"
                    runat="server"
                    OnClick="LinkButtonWizardDealSeller_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Сделка</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardTransferPropertyBuyer"
                    runat="server"
                    OnClick="LinkButtonWizardTransferPropertyBuyer_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Передача недвижимости</asp:LinkButton>
                <asp:LinkButton ID="LinkButtonWizardTransferPropertySeller"
                    runat="server"
                    OnClick="LinkButtonWizardTransferPropertySeller_Click"
                    Visible="False"
                    Enabled="False"
                    CssClass="TextWizard">Передача недвижимости</asp:LinkButton>
            </div>
        </div>
        <asp:ContentPlaceHolder ID="FindObject" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="PreContractBuyer" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="PreContractSeller" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="CallSeller" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="MainDocumentBuyer" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="MainDocumentSeller" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="GettingBuyer" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="GettingSeller" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="ContractBuyer" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="ContractSeller" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="DealBuyer" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="DealSeller" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="Menu" runat="server">
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder ID="Private" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
